.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh;
}

header {
  background: #5A03D5;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vh 0;
  margin-bottom: 4vh;
}

header p {
  margin: .4vh;
  font-size: 3vh;
  font-weight: 600;
}

main {
  width: 100%;
}

select {
  background: #9F75FF;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 1vh 2vw;
  color: #fff;
  font-size: 2vh;
  cursor: pointer;
}

.div-inputCants {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2vh 0;
}

.inputCants {
  border: none;
  border-bottom: 1px solid #5A03D5;
  color: #5A03D5;
  padding: 1vh 0;
  margin: .7vh 0;
}

.inputCants:focus {
  outline: none;
}

button {
  color: #fff;
  font-size: 2vh;
  background: #5A03D5;
  border: none;
  border-radius: 5px;
  position: relative;
  left: 70vw;
  padding: 1vh 1.2vh;
  margin: 2vh 0;
  cursor: pointer;
}

.resultados {
  color: #5A03D5;
}
